django
beautifulsoup4
lxml
pillow
loguru
djangorestframework
requests
setuptools-scm
whoosh
django-haystack
Markdown
jieba
mammoth
markdownify
selenium
webdriver_manager
PyYAML
django-cors-headers
pdf2docx
mysqlclient
#uwsgi
# redis
django-redis
redis