django
beautifulsoup4
lxml
pillow
loguru==0.6.0
importlib-metadata
djangorestframework
requests
setuptools-scm
whoosh
django-haystack
Markdown
jieba
mammoth
markdownify
selenium
webdriver_manager
PyYAML
django-cors-headers
pdf2docx
mysqlclient
uwsgi
django-redis
redis